<html>
  <head>
    <title>GIS - Satellite Imagery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <style>
      div.someclass {
        background-size: cover;
      }
    </style>
    <script>
      $(document).ready(function () {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){
          dd='0'+dd
        } 
        if(mm<10){
          mm='0'+mm
        } 
        today = yyyy+'-'+mm+'-'+dd;
        $("#type").change(function () {
          var val = $(this).val();
            if (val == "USGS/SRTMGL1_003") {
              $("#size").html("<option value='Elevation'>Elevation</option>");
              $('#temporalInfo').html("")
            } 
            else if (val == "NASA/ASTER_GED/AG100_003") {
              $("#size").html("<option value='Elevation'>Elevation</option><option value='LST'>LST</option><option value='NDVI'>NDVI</option>");
              $('#temporalInfo').html("")
            } 
            else if (val == "CSP/ERGo/1_0/Global/SRTM_topoDiversity") {
              $("#size").html("<option value='topographicDiversity'>Topographic Diversity</option>");
              $('#temporalInfo').html("")
            }
            else if (val == "NOAA/NGDC/ETOPO1") {
              $("#size").html("<option value='bedrock'>Bed Rock</option><option value='iceSurface'>Ice Surface</option>");
              $('#temporalInfo').html("")
            }
            else if (val == "HYCOM/sea_surface_elevation") {
              $("#size").html("<option value='seaSurfaceElevation'>Sea Surface Elevation</option>");
              $('#temporalInfo').html("<label for=\"temporalInfo1\">Temporal Information - Start Date</label> <input type=\"date\" id=\"temporalInfo1\" name=\"temporalInfo1\" value=\"2020-06-03\" min=\"1992-10-02\" max=\"2018-12-31\" class=\"form-control\"/><label for=\"temporalInfo2\">Temporal Information - End Date</label> <input type=\"date\" id=\"temporalInfo2\" name=\"temporalInfo2\" value=\"2020-06-05\" min=\"1992-10-02\" max=\"2018-12-31\" class=\"form-control\"/>        ")
              document.getElementById("temporalInfo1").setAttribute("max", today);
              document.getElementById("temporalInfo2").setAttribute("max", today);
              document.getElementById("temporalInfo1").setAttribute("min", '1992-10-02');
              document.getElementById("temporalInfo2").setAttribute("min", '1992-10-02');
            }   
            else if (val == "MODIS/006/MOD13A2 ") {
              $("#size").html("<option value='NDVI'>NDVI</option>");
              $('#temporalInfo').html("<label for=\"temporalInfo1\">Temporal Information - Start Date</label> <input type=\"date\" id=\"temporalInfo1\" name=\"temporalInfo1\" value=\"2020-06-03\" min=\"1992-10-02\" max=\"2018-12-31\" class=\"form-control\"/><label for=\"temporalInfo2\">Temporal Information - End Date</label> <input type=\"date\" id=\"temporalInfo2\" name=\"temporalInfo2\" value=\"2020-06-05\" min=\"1992-10-02\" max=\"2018-12-31\" class=\"form-control\"/>        ")
              document.getElementById("temporalInfo1").setAttribute("max", today);
              document.getElementById("temporalInfo2").setAttribute("max", today);
              document.getElementById("temporalInfo1").setAttribute("min", '2000-02-18');
              document.getElementById("temporalInfo2").setAttribute("min", '2000-02-18');
            }
            else if (val == "LANDSAT/LC08/C01/T1_8DAY_NDVI") {
              $("#size").html("<option value='NDVI'>NDVI</option>");
              $('#temporalInfo').html("<label for=\"temporalInfo1\">Temporal Information - Start Date</label> <input type=\"date\" id=\"temporalInfo1\" name=\"temporalInfo1\" value=\"2020-06-03\" min=\"1992-10-02\" max=\"2018-12-31\" class=\"form-control\"/><label for=\"temporalInfo2\">Temporal Information - End Date</label> <input type=\"date\" id=\"temporalInfo2\" name=\"temporalInfo2\" value=\"2020-06-05\" min=\"1992-10-02\" max=\"2018-12-31\" class=\"form-control\"/>        ")
              document.getElementById("temporalInfo1").setAttribute("max", today);
              document.getElementById("temporalInfo2").setAttribute("max", today);
              document.getElementById("temporalInfo1").setAttribute("min", '2013-04-01');
              document.getElementById("temporalInfo2").setAttribute("min", '2013-04-01');
            }
            else if (val == "MODIS/006/MOD11A1") {
              $("#size").html("<option value='LST_Day_1km'>LST per Day 1KM</option>");
              $('#temporalInfo').html("<label for=\"temporalInfo1\">Temporal Information - Start Date</label> <input type=\"date\" id=\"temporalInfo1\" name=\"temporalInfo1\" value=\"2020-06-03\" min=\"1992-10-02\" max=\"2018-12-31\" class=\"form-control\"/><label for=\"temporalInfo2\">Temporal Information - End Date</label> <input type=\"date\" id=\"temporalInfo2\" name=\"temporalInfo2\" value=\"2020-06-05\" min=\"1992-10-02\" max=\"2018-12-31\" class=\"form-control\"/>        ")
              document.getElementById("temporalInfo1").setAttribute("max", today);
              document.getElementById("temporalInfo2").setAttribute("max", today);
              document.getElementById("temporalInfo1").setAttribute("min", '2000-03-05');
              document.getElementById("temporalInfo2").setAttribute("min", '2000-03-05');
            }
            else if (val == "TRMM/3B43V7") {
              $("#size").html("<option value='precipitation'>Precipitation Monthly</option>");
              $('#temporalInfo').html("<label for=\"temporalInfo1\">Temporal Information - Start Date</label> <input type=\"date\" id=\"temporalInfo1\" name=\"temporalInfo1\" value=\"2020-06-03\" min=\"1992-10-02\" max=\"2018-12-31\" class=\"form-control\"/><label for=\"temporalInfo2\">Temporal Information - End Date</label> <input type=\"date\" id=\"temporalInfo2\" name=\"temporalInfo2\" value=\"2020-06-05\" min=\"1992-10-02\" max=\"2018-12-31\" class=\"form-control\"/>        ")
              document.getElementById("temporalInfo1").setAttribute("max", today);
              document.getElementById("temporalInfo2").setAttribute("max", today);
              document.getElementById("temporalInfo1").setAttribute("min", '1998-01-01');
              document.getElementById("temporalInfo2").setAttribute("min", '1998-01-01');
            }
            else if (val == "TRMM/3B42") {
              $("#size").html("<option value='precipitation'>Precipitation 3-Hourly</option>");
              $('#temporalInfo').html("<label for=\"temporalInfo1\">Temporal Information - Start Date</label> <input type=\"date\" id=\"temporalInfo1\" name=\"temporalInfo1\" value=\"2020-06-03\" min=\"1992-10-02\" max=\"2018-12-31\" class=\"form-control\"/><label for=\"temporalInfo2\">Temporal Information - End Date</label> <input type=\"date\" id=\"temporalInfo2\" name=\"temporalInfo2\" value=\"2020-06-05\" min=\"1992-10-02\" max=\"2018-12-31\" class=\"form-control\"/>        ")
              document.getElementById("temporalInfo1").setAttribute("max", today);
              document.getElementById("temporalInfo2").setAttribute("max", today);
              document.getElementById("temporalInfo1").setAttribute("min", '1998-01-01');
              document.getElementById("temporalInfo2").setAttribute("min", '1998-01-01');
            }
        });
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #b71c1c;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand" href="/">GIS Satellite Imagery</a>
      </div>  
    </nav>
    <br><br>
    <center>
      <div class="card text-left" style="width: 35rem;">
        <div class="card-body">
          <div class="form-group">
            <form action = "{{url_for('getGeoTiff')}}" method = "POST" enctype=multipart/form-data>
              <h3>Configuration Details</h3>
              <label for="satelliteName">Satellite Name</label>
              <select id="type" name = "satelliteName" class="form-control" required>
                <option value="">Select Satellite</option>
                <option value="USGS/SRTMGL1_003">USGS/SRTMGL1_003</option>
                <option value="NASA/ASTER_GED/AG100_003">NASA/ASTER_GED/AG100_003</option>
                <option value="HYCOM/sea_surface_elevation">HYCOM/sea_surface_elevation</option>
                <option value="CSP/ERGo/1_0/Global/SRTM_topoDiversity">CSP/ERGo/1_0/Global/SRTM_topoDiversity</option>
                <option value="MODIS/006/MOD13A2">MODIS/006/MOD13A2</option>
                <option value="LANDSAT/LC08/C01/T1_8DAY_NDVI">LANDSAT/LC08/C01/T1_8DAY_NDVI</option>
                <option value="NOAA/NGDC/ETOPO1">NOAA/NGDC/ETOPO1</option>
                <option value="MODIS/006/MOD11A1">MODIS/006/MOD11A1</option>
                <option value="TRMM/3B43V7">TRMM/3B43V7</option>
                <option value="TRMM/3B42">TRMM/3B42</option>
              </select>
              <label for="typeOfData">Type of Information</label>
              <select id="size" name = "typeOfData" class="form-control" required>
                <option value="">Please Select Satellite</option>
              </select>
              <div id="temporalInfo">
                <!-- <label for="temporalInfo1">Temporal Information - Start Date</label>
                <input type="date" id="temporalInfo1" name="temporalInfo1" value="2020-06-03" min="1992-10-02" max="2018-12-31" class="form-control"/>        
                <label for="temporalInfo2">Temporal Information - End Date</label>
                <input type="date" id="temporalInfo2" name="temporalInfo2" value="2020-06-05" min="1992-10-02" max="2018-12-31" class="form-control"/>         -->
              </div>
              <label for="file">Shape File</label>
              <input type = "file" name = "file" class="form-control" required/>
              <label for="shapeName">Name of (.shp) file</label>
              <input type = "text" name ="shapeName" class="form-control" required/>
              <label for="fileName">Name for the TIF File (that will be saved)</label>
              <input type = "text" name ="fileName" class="form-control" required/>
              <label for="folderName">Name for the Folder for Storage</label>
              <input type = "text" name ="folderName" class="form-control" required/>
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <p>
            This is the configuration required to get TIF File from Google Satellite Imagery.
          </p>
      </div>
    </center>
    <br><br>
    {% with messages = get_flashed_messages() %}
    {%if messages%}
      {%for mess in messages%}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{mess}}
        </div>
      {%endfor%}
    {%endif%}
  {% endwith %}
  </body>
</html>
